.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container {
  width: 100vw;
  padding: 1vw;
}

.nav {
  width: 100%;
  justify-content: right;
}
.periodSelector {
  margin-right: 5px;
  width: 175;
}

.scorecard-container {
  width: 100%;
  /* padding-bottom: 20px; */
}

.scorecard {
  width: 160px; /* Set a fixed width for each scorecard */
  height: 90px;
  background-color: #f2f2f2; /* Light gray background for scorecards */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  /* margin: 10px; */
}

.trackDataElements {
  width: 100vw;
}

.doughnut-chart {
  width: 200px;
}

.genres-bar-column {
  width: 100%;
  height: 100%;
  padding-left: 2.5%;
  padding-right: 5%;
}

.artists-table-column {
  margin-bottom: 20px;
  width: 100%;
}

.genres-bar-chart-container {
  width: 100%;
  padding-top: 16px;
  height: 600px;
}

.genre-bar-chart {
  width: 100%;
  height: 100%;
}

.artists-table-column {
  height: 600px;
}
